.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    text-align: center;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #808080;
    text-decoration: none;
    font-size: 40px;
    font-family: "Libertinus Serif", serif;
}


